body 
{
    background-color:white;
    color:brown;
}
#dexterImg 
{
    width: 500px;
    height: 350px;
    border: 2px solid black;
    display: block;
    margin-right: auto;
}
a
{
    color:red;
}
a:visited
{
    color:black;
}
h1 
{
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
